article {
  border: 4px solid #545149;
  height: 205px;
  width: 100%;
  padding: 20px;
  margin: auto;
}

article:hover {
  box-shadow: 10px 10px rgba(0, 0, 255, .2);
  transition: 0.3s;
}

.tweetArticle {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

article > header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 19px;
}

.user {
  display: flex;
  align-items: center;
}

.handle {
  color: #cacccb;
  font-weight: 600;
  align-self: center;
}

.tweeted {
  font-size: 18px;
  font-weight: bold;
  display: flex;
  flex-basis: 65%;
  border: 0px;
  border-bottom: 4px solid #545149;
  align-items: center;
}

footer {
  font-size: 14px;
  display: flex;
  margin-top: 10px;
  flex-direction: row;
  justify-content: space-between;
}

.iconFooter {
  margin-left: 10px;
  color: #4056A1;
}

.iconFooter:hover {
  color: goldenrod;
  transition: 0.3s;
}

.avatar {
  width: 30%;
  margin-right: 10px;
}

/* For devices with smaller screen than 375px */
@media only screen and (max-width: 425px) {
  .user {
    font-size: 16px;
  }

  .handle {
    font-size: 16px;
  }

  .avatar {
    width: 25%;
    margin-right: 5px;
  }

  .tweeted {
    font-size: 16px;
  }
}