/* !! THIS <section> IS NOT IN THE index.html BUT INSIDE client.js INSTEAD !! */
/* Refer to createTweetElement function on line 43 in /styles/client.js */

/* =================== <section id="tweets-container"> =================== */
/* =================== <article class="tweet-article"> =================== */
/* Style for the entire tweet-article box model */
article {
  border: 4px solid #545149;
  display: flex;
  flex-direction: column;
  height: 205px;
  margin: auto;
  margin-bottom: 20px;
  padding: 20px;
  width: 100%;
}

article:hover {
  box-shadow: 10px 10px rgba(0, 0, 255, .2);
  transition: 0.3s;
}

/* =============================== <header> ============================== */
/* Encases the Tweeter user information and their tweet*/
article > header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 19px;
}

/* ==================== <div class="user-information"> =================== */
/* Displays the user's avatar, username, and handle in a spaced-out row */
.user-information {
  align-items: center;
  display: flex;
}

.avatar {
  margin-right: 10px;
  width: 30%;
}

.handle {
  align-self: center;
  color: #cacccb;
  font-weight: 600;
}

/* ========================= <div class="text"> ========================== */
/* Displays the user's tweet */
.text {
  align-items: center;
  border: 0px;
  border-bottom: 4px solid #545149;
  display: flex;
  flex-basis: 65%;
  font-size: 18px;
  font-weight: bold;
}

/* =============================== <footer> ============================== */
/* Shows the time when that tweet was created along with engagements */
footer {
  font-size: 14px;
  display: flex;
  margin-top: 10px;
  flex-direction: row;
  justify-content: space-between;
}

.icon-footer {
  margin-left: 10px;
  color: #4056A1;
}

.icon-footer:hover {
  color: goldenrod;
  transition: 0.3s;
}

/* Responsive display for devices with screen smaller than 425px */
@media only screen and (max-width: 425px) {
  .user {
    font-size: 16px;
  }

  .handle {
    font-size: 16px;
  }

  .avatar {
    width: 25%;
    margin-right: 5px;
  }

  .text {
    font-size: 16px;
  }
}