/* !! THIS <section> IS NOT IN THE index.html BUT INSIDE client.js INSTEAD !! */
/* Refer to createTweetElement function on line 43 in /styles/client.js */

/* =================== <section id="tweets-container"> =================== */
/* =================== <article class="tweet-article"> =================== */

/* Style for the entire tweet-article box model */
article {
  border: 4px solid #545149;
  display: flex;
  flex-direction: column;
  height: 205px;
  margin: auto;
  margin-bottom: 20px;
  padding: 20px;
  width: 100%;
}

article:hover {
  box-shadow: 10px 10px rgba(0, 0, 255, .2);
  transition: 0.3s;
}

/* =============================== <header> ============================== */

/* Format of the Tweeter user information box model */
article > header {
  display: flex;
  flex-direction: row;
  font-size: 19px;
  justify-content: space-between;
}

/* ==================== <div class="user-information"> =================== */

/* Style and format of the avatar, username, and handle in a spaced-out row */
.user-information {
  align-items: center;
  display: flex;
}

.avatar {
  margin-right: 10px;
  width: 30%;
}

.handle {
  align-self: center;
  color: #cacccb;
  font-weight: 600;
}

/* ========================= <div class="text"> ========================== */

/* Style and format of the user's tweet */
.text {
  align-items: center;
  border: 0px;
  border-bottom: 4px solid #545149;
  display: flex;
  flex-basis: 65%;
  font-size: 18px;
  font-weight: bold;
}

/* =============================== <footer> ============================== */

/* Style and format of the footer (date and engagement) box model */
footer {
  display: flex;
  flex-direction: row;
  font-size: 14px;
  justify-content: space-between;
  margin-top: 10px;
}

.icon-footer {
  color: #4056A1;
  margin-left: 10px;
}

.icon-footer:hover {
  color: goldenrod;
  transition: 0.3s;
}

/* ======================== RESPONSIVE DISPLAY =========================== */

/* For devices with screen smaller than 425px */
@media only screen and (max-width: 425px) {
  .user-information, .handle, .text {
    font-size: 16px;
  }

  .avatar {
    margin-right: 5px;
    width: 25%;
  }
}