/* =============================== <header> ============================== */
/* Style for the logged in user */
body > header {
  align-items: center;
  background-color: #57008a;
  background-image: url("https://www.transparenttextures.com/patterns/bright-squares.png");
  display: flex;
  flex-direction: column;
  height: 400px;
  padding: 1.5em;
  width: 100%;
}

/* ========================= <span class="name"> ========================= */
.name {
  color: #FFFFFF;
  font-size: 30px;
  padding: 0.5em;
}

/* Responsive display for devices with screen 1024px or higher */
@media only screen and (min-width: 1024px) {
  body > header {
    float: left;
    margin: 100px 20px 0px 40px;
    width: 45%;
  }

  .name {
    font-size: 35px;
  }
}