header {
  height: 400px;
  width: 100%;
  background-color: #57008a;
  background-image: url("https://www.transparenttextures.com/patterns/bright-squares.png");
}

.columnHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.5em;
}

.name {
  font-size: 35px;
  color: #FFFFFF;
  padding: 0.5em;
}

@media only screen and (min-width: 1024px) {
  header {
    margin: 100px 20px 0px 40px;
    width: 35%;
    float: left;
  }
}