header {
  height: 400px;
  width: 100%;
  background-color: #f08400;
  background-image: url("https://www.transparenttextures.com/patterns/cubes.png");
}

.columnHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em 0em 0em 0em;
}

.name {
  font-size: 35px;
  color: #FFFFFF;
}