/* =============================== <nav> ================================= */

/* Style for the fixed navigation bar at the top of the page */
nav {
  background-color: #4056A1;
  color: #FFFFFF;
  font-size: 20px;
  height: 120px;
  padding: 1.5em;
  position: fixed; 
  top: 0px;
  width: 100%;
}

/* Style for the Tweeter logo */
nav span {
  font-family: 'Bungee', cursive;
  font-size: 30px;
}

/* Tweeter logo inherits the style from its parent */
a.logo {
  color: inherit;
  text-decoration: inherit;
}

/* ========================== <div class="row"> ========================== */

.row {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* ======================== <div class="column"> ========================= */

.column {
  display: flex;
  flex-flow: column wrap;
  margin-top: 8px;
}

/* Style for the double down arrow */
.icon-navi {
  align-self: center;
  animation: move 1s infinite alternate;
  color: red;
  cursor: pointer;
  margin: 5px;
}

/* Animation format for .icon-navi to make it bounce */
@keyframes move{
  0%   { transform: translateY(0); }
  100% { transform: translateY(-5px); }
}

/* ======================== RESPONSIVE DISPLAY =========================== */

/* For devices with screen smaller than 1024px */
@media only screen and (max-width: 1023px) {
  nav {
    background-color: #57008a;
    background-image: url("https://www.transparenttextures.com/patterns/bright-squares.png");
  }
  
  nav span {
    font-family: 'Bungee', cursive;
    font-size: 26px;
  }
}

/* For devices with screen smaller than 375px */
@media only screen and (max-width: 375px) {
  nav span {
    font-size: 24px;
  }

  .column {
    font-size: 16px;
    margin-top: 15px;
  }
}
