nav {
  height: 120px;
  color: #FFFFFF;
  background-color: #4056A1;
  padding: 1.5em;
}

nav span {
  font-family: 'Bungee', cursive;
}

.rowNav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.columnNav {
  display: flex;
  flex-direction: column;
}

.icon {
  align-self: center;
}

.icon:hover {
  align-self: center;
  color: red;
}