/* ===================== <section class="new-tweet"> ===================== */
/* Style for the overall submission tweet form */
.new-tweet {
  background-color: #f4f1ec;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  margin-bottom: 30px;
  width: 100%;
}

/* ========================== <div id="error"> =========================== */
/* Placeholder for when the slideDown triggers and style for the errors */
#error {
  background-color: rgba(255, 0, 0, 0.1);
  color: red;
  display: none;
  font-size: 16px;
  font-weight: 300;
  margin-bottom: 20px;
  padding: 10px;
  text-align: center;
}

/* ====================== <label for="tweet-text"> ======================= */
#tweet-text {
  background-color: #f4f1ec;
  font-size: 18px;
  font-weight: 600;
  resize: none;
  color: #545149;
  width: 100%;
  border: 0px;
  border-bottom: 4px solid #545149;
  align-self: center;
  margin-top: 5px;
}

.submitArea {
  margin-top: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.button {
  color: #FFF;
  background-color: #4056A1;
  font-family: 'Bungee', cursive;
  font-size: 18px;
  border: 0px;
  padding: 5px;
}

.button:hover {
  background-color: #57008a;
  box-shadow: 1px 1px 1px gray;
}

.button:active {
  color: #4056A1;
  margin-left: 1px 1px 0;
  outline: 1px solid #545149;
  background-color: transparent;
}

.counter {
  font-family: 'Bungee', cursive;
  font-size: 18px;
}

label {
  font-size: 22px;
}

input:focus, textarea:focus, select:focus {
  outline: none;
}

#posted {
  background-color: rgba(4, 175, 255, 0.205);
  color: #2206a0;
  display: none;
  font-size: 16px;
  font-weight: 300;
  margin-top: 10px;
  padding: 10px;
  text-align: center;
}

/* For devices with smaller screen than 375px */
@media only screen and (max-width: 375px) {
  #tweet-text {
   font-size: 16px;
  }

  label {
    font-size: 18px;
  }

  .counter {
    font-size: 14px;
  }

  .button {
    font-size: 16px;
  }

  #error {
    font-size: 14px;
  }
}