/* ===================== <section class="new-tweet"> ===================== */
/* Style for the overall submission tweet form */
.new-tweet {
  background-color: #f4f1ec;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  margin-bottom: 30px;
  width: 100%;
}

/* ========================== <div id="error"> =========================== */
/* Placeholder for when the slideDown triggers and style for the errors */
#error {
  background-color: rgba(255, 0, 0, 0.1);
  color: red;
  display: none;
  font-size: 16px;
  font-weight: 300;
  margin-bottom: 20px;
  padding: 10px;
  text-align: center;
}

/* ===================== <textarea id="tweet-text"> ====================== */
/* Style for the text form where users compose their tweets */
#tweet-text {
  align-self: center;
  background-color: #f4f1ec;
  border: 0px;
  border-bottom: 4px solid #545149;
  color: #545149;
  font-size: 18px;
  font-weight: 600;
  margin-top: 5px;
  resize: none;
  width: 100%;
}

/* Disables the blue outline when the user is focused on the textarea */
textarea:focus {
  outline: none;
}

/* ===================== <label for="tweet-text"> ======================== */
label {
  font-size: 22px;
}

/* ===================== <div class="submit-area"> ======================= */
/* Style for submit-area that encases submit button and counter */
.submit-area {
  margin-top: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* ====================== <button class="button"> ======================== */
/* Format and style for the Tweet button */
.button {
  color: #FFF;
  background-color: #4056A1;
  font-family: 'Bungee', cursive;
  font-size: 18px;
  border: 0px;
  padding: 5px;
}

.button:hover {
  background-color: #57008a;
  box-shadow: 1px 1px 1px gray;
}

.button:active {
  background-color: transparent;
  color: #4056A1;
  margin-left: 1px 1px 0;
  outline: 1px solid #545149;
}

/* ====================== <output class="counter"> ======================= */
/* Style and formatting for counter - 140 */
.counter {
  font-family: 'Bungee', cursive;
  font-size: 18px;
}

#posted {
  background-color: rgba(4, 175, 255, 0.205);
  color: #2206a0;
  display: none;
  font-size: 16px;
  font-weight: 300;
  margin-top: 10px;
  padding: 10px;
  text-align: center;
}

/* Responsive display for devices with smaller screen than 375px */
@media only screen and (max-width: 375px) {
  #tweet-text {
   font-size: 16px;
  }

  label {
    font-size: 18px;
  }

  .counter {
    font-size: 14px;
  }

  .button {
    font-size: 16px;
  }

  #error {
    font-size: 14px;
  }
}