.scroll-up {
  color: rgba(128, 42, 226, 0.4);
  padding: 0.5em;
  position: fixed;
  bottom: 30px;
  right: 20px;
  cursor: pointer;
  font-size: 4em;
} 

.scroll-up:hover {
  animation: move 1s;
  color: rgb(98, 11, 197);
  transition: 0.3s;
} 

@keyframes move{
  100% { transform: translateY(-5px); }
}

/* For devices with smaller screen than 425px */
@media only screen and (max-width: 425px) {
  .scroll-up {
    bottom: 10px;
    font-size: 3em;
    right: 10px;
  }
} 