/* ============================== <footer> =============================== */
/* ======================== <i class="scroll-up"> ======================== */
/* Style for the arrow up to scroll to the top  */
.scroll-up {
  color: rgba(128, 42, 226, 0.4);
  bottom: 30px;
  cursor: pointer;
  display: none;
  font-size: 4em;
  position: fixed;
  right: 30px;
} 

.scroll-up:hover {
  animation: move 1s;
  color: rgb(98, 11, 197);
  transition: 0.3s;
} 

/* Animation format for .icon-navi to make it move */
@keyframes move{
  100% { transform: translateY(-5px); }
}

/* Responsive display for devices with screen smaller than 425px */
@media only screen and (max-width: 425px) {
  .scroll-up {
    bottom: 20px;
    font-size: 3.5em;
    right: 20px;
  }
} 